@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main d-flex flex-column min-vh-100">
    <div class="top-row px-4">
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    </div>

    <div class="content px-4">
        @Body
    </div>

    <GoRadio.Blazor.Components.Footer></GoRadio.Blazor.Components.Footer>
</div>