@page "/"
@inject GoRadio.Logic.Managers.SoundboardManager SoundboardManager
@inject GoRadio.Logic.Services.SoundService SoundService

<h1>Soudboard</h1>

<GoRadio.Blazor.Components.SoundModal @ref="Modal" OnSave="GetData"></GoRadio.Blazor.Components.SoundModal>
<button class="btn btn-primary" @onclick="() => Modal.Open()">Add</button>

<div class="row">
    @foreach (var sound in _sounds)
    {
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="card m-2">
                <div class="card-body text-center">
                    <h5 class="card-title">@sound.Name</h5>
                    <a href="#" class="btn btn-primary btn-block" @onclick="() => Play(sound.Data)">Play</a>
                </div>
            </div>
        </div>
    }
</div>

@code {

    private Components.SoundModal Modal { get; set; }
    private List<GoRadio.Logic.Database.Entities.Sound> _sounds;

    protected override Task OnInitializedAsync()
    {
        GetData();
        return base.OnInitializedAsync();
    }

    private void GetData()
    {
        _sounds = SoundService.GetAll();
    }

    private void Play(byte[] data)
    {
        SoundboardManager.Load(data);
        SoundboardManager.Play();
    }
}