@page "/"
@inject GoRadio.Logic.Managers.SoundboardManager SoundboardManager
@inject GoRadio.Logic.Services.SoundService SoundService

<h1>Soudboard</h1>

<div class="row">
    @foreach (var sound in _sounds)
    {
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="card m-2">
                <div class="card-body text-center">
                    <h5 class="card-title">@sound.Name</h5>
                    <a href="#" class="btn btn-primary btn-block" @onclick="Play">Play</a>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<GoRadio.Logic.Database.Entities.Sound> _sounds;

    protected override Task OnInitializedAsync()
    {
        _sounds = SoundService.GetAll();
        return base.OnInitializedAsync();
    }

    private void Play()
    {
        SoundboardManager.Play();
    }
}